<form id="subscription-form" class="subscription-form" method="POST">
  <h2> Join My Newsletter  </h2>
  <p> Sign up to receive weekly updates. </p>

  <!-- Hidden message to show if contact is successful. -->
  <p id="submit-success" class="collapse">
    Message received! I'll be in touch.
  </p>

  <!-- Hidden message to show if user encounters errors. -->
  <p id="submit-errors" class="collapse">
    It looks like there was an error submitting the form.
    Please try again later.
  </p>

  <a class="close-form" id="close-form">x</a>
    
    <input type="text" name="name" id="your-name" minlength="3" 
    placeholder="Name" required> 

    <input type="email" name="subscriber" id="email" 
    placeholder="Email" required>

    <!-- return to site after submission  --> 
     <input type="hidden" name="_next" value="{{page.url}}" />

    <textarea name="location" value="{{page.url}}" 
    style="display:none"></textarea>

     <input class="send-button" type="submit" value="Sign Up"> 
</form>

<!-- wrap email attribute in JS for extra security -->
<script>
    var emailForm =  document.getElementById('subscription-form');
    emailForm.setAttribute('action', '//formspree.io/' + '{{site.author.email}}');
</script>

