
{% if page.type == post %}
<div class="share fade-in">
  {% include share-posts.html %}

</div>

<div class="read-next">  
  {% if page.layout == 'studbits' %} Up Next: {% else %} Read Next: {% endif %}
  {% if page.previous.url %}
  <a class="prev-post" href="{{page.previous.url}}">{{page.previous.title}}</a>
  {% else if page.next.url %}
  <a class="next-post" href="{{page.next.url}}">{{page.next.title}}</a>
  {% else %}
  {% endif %}
</div>
{% endif %}
  

{% if page.footer != 'none' %}
<footer class="site-footer" id="footer">

    <a href="/" class="back-home">Back Home</a></p> 

    <div class="copyright"> 
      <small> &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ page.date | date: '%Y' }}</time> {{site.author.name}}</small>
    </div>
</footer>
{% endif %}



{% if page.type == post %}
{% if page.quote %}
<div class="footer-quote fade-in"> 
  <p class="post-quote">{{ page.quote }} </p>
</div>
{% endif %}
{% endif %}