{% if page.footer != 'none' %}
<footer class="site-footer fade-in" id="footer">

  {% if page.type == 'post' %}
  <div class="read-next">  Read Next: 
    {% if page.previous.url %}
    <a class="prev-post" href="{{page.previous.url}}">{{page.previous.title}}</a>
    {% else if page.next.url %}
    <a class="next-post" href="{{page.next.url}}">{{page.next.title}}</a>
    {% else %}
    {% endif %}
  </div>
  {% endif %}
  
  {% if page.quote %}
  <p class="post-quote"> {{ page.quote }} </p>
  {% endif %}

  <a href="/" class="back-home">Back Home</a></p> 

  <div class="copyright"> 
    <small> &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ page.date | date: '%Y' }}</time> {{site.author.name}}</small>
  </div>


</footer>
{% endif %}

