<!-- Capture and Store page URL, filter to only return text -->
{% capture location %}{{ page.url | split:'/'}}{% endcapture %}

<header class="site-header">

  <div class="wrapper">

    <div id="intro-header">
      <h1> <strong> Alid Castano </strong> </h1>
      
<!--
      <div id="intro-left-column">
        <h1> <strong> Alid Castano </strong> </h1>
        <h2> Writer, Speaker, Programmer </h2>
        <h2> (and Lifter) </h2>
        <img id="alid-photo" src="img/alid_castano_2016.jpg" alt="Alid Castano Avatar"> 
      </div>

      <div id="intro-right-column">
        
        <ul>
          <li class="list-header"> <strong> Alid Castano</strong> / Strive For <span>Balance.</span> <li>
        </ul>

      </div>
-->
    </div>



      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
