

/*

.intro { 
  @include outer-container(90%);
  margin: 3rem auto 3rem auto;
  padding-bottom: 2rem;
  border-bottom: 2px dashed $border-color;

  .personal-info {
    @include shift(1);
    @include span-columns(10);
    margin-top: 1rem;
    @include media_screen_medium { 
      @include shift(0);
      @include span-columns(6); 
    }
    .info-bar { 
      @include span-columns(6);
      text-align: center;
      position: relative; 
      top: 5rem;
      @include media_screen_small { top: 8rem; }
      @include media_screen_large { top: 11rem; }

      .name {
        font-family: $Sans;
        font-weight: 600;
        font-size: 1.3rem; 
        letter-spacing: -.075rem;
        margin-bottom: 0rem; 
        @include media_screen_extra_small { font-size: 1.75rem; }
      }
      .mini-bio { 
        font-family: $Sans;
        font-weight: 400;
        font-size: .75rem;
        margin-top: .125rem;
        margin-bottom: .25rem;
        color: $gray-2;
        @include media_screen_extra_small { font-size: .85rem; }
      }
    }

    .avatar {
      width: 100px;
      max-width: 100%;
      @include border-radius(100px);
      @include box-shadow(#fff, $baby-blue);
      display: inline-block;
      margin: 0 auto;
      @include media_screen_extra_small { width: 150px; }
      @include media_screen_small { width: 200px; }
      @include media_screen_large { width: 240px; }
    }
  }

}
*/