

.share-posts, .read-next {
  a:visited { color: $visited-link-color; }
  a:hover { color: $hover-link-color; }
  text-align: center;
}

.share-posts {
  font-size: .8rem;

  a { 
    @include border-radius(5px);
    border: 1px solid $gray-2;
    color: inherit;
    background: $gray-1;
    vertical-align: middle;
    margin-left: .25rem;
    padding: .25rem;

  }
}

.read-next {
  font-size: .8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  a { 
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    margin-left: .25rem;
   }

}


.site-footer {
  margin-top: 2rem;
  margin-bottom: 2.5rem !important;
  position: relative;
  width: 100%;
}



.back-home {
  float: left;
  font-size: .8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  &:before {
    content: "← "
  }
}

.copyright {
  float: right;
  font-size: .8rem;
  color: #9a9a9a;
  opacity: .75;
  position: absolute;
  bottom: 0;
  right: 0;
}


.footer-quote {
  border-top: 1px dashed $gray-2;
  padding-top: 1rem;
  position: relative;
  @include bp-large { 
    margin-left: -6%;
    width: 112%; 
  }

}

.post-quote {
  font-size: .8rem;
  color: #9a9a9a;
  text-align: center;
  padding-bottom: 2rem;
  max-width: 90%;
  margin: 0 auto;
}

.fade-in {
  opacity: 1; 
}


