
.home-page {
  @include linear-gradient(to top, $gray-1, $white 20%);
  h1 {
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
  .post {
    padding-left: 1rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    @include link-colors($gray-4, $gray-4, $fill-color, $gray-4);
  }

  .see-more {
    padding-left: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 2rem;
    text-decoration: underline;
    a { 
      color: $gray-2;
      font-size: 1.5rem; 
      &:hover {
        color: $fill-color;
        @include transition(all .2s ease);
      }
    }
  }

}



