// Site Mixins 
// ---------------------------------------/


// Clears floats via mixin (avoid using as a class).

@mixin clearfix {
  &:before {
    display: table;
    content: "";
  }

  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

// block elements 

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  transition: $value;
}

@mixin box-shadow($border, $shade) {
	-webkit-box-shadow: 0 0 0 3px $border, 0 0 0 4px $shade, 0 2px 5px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 0 3px $border, 0 0 0 4px $shade, 0 2px 5px 4px rgba(0,0,0,.2);
	box-shadow: 0 0 0 3px $border, 0 0 0 4px $shade, 0 2px 5px 4px rgba(0,0,0,.2);
}




// child elements 
@mixin new-width($amount) {
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
}



// media querie tools

@mixin media_max($screen_width) {
  @media (max-width: $screen_width) { @content; }
}

@mixin media_mobile_only {
  @media (max-width: 380px) { @content; }
}

@mixin media_mobile {
  @media (max-width: 600px) { @content; }
}

@mixin media_larger_than_mobile {
  @media (min-width: 600px) { @content; }
}

@mixin media_mobile_to_half {
  @media (min-width: 601px) and (max-width: 850px) { @content; }
}

@mixin media_mobile_to_full {
  @media (min-width: 851px) { @content; }
}










// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



