// Site Mixins 
// ---------------------------------------/

@import "mixins-resume";

    






// block elements 

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($color) {
	-webkit-box-shadow: 0 0 0 3px $color, 0 0 0 4px #e5f0ff, 0 2px 5px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 0 3px $color, 0 0 0 4px #e5f0ff, 0 2px 5px 4px rgba(0,0,0,.2);
	box-shadow: 0 0 0 3px $color, 0 0 0 4px #e5f0ff, 0 2px 5px 4px rgba(0,0,0,.2);
}


// child elements 
@mixin new-width($amount) {
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
}















// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



