.featured-book {
  @include bp-large {
    margin-left: -4%;
    max-width: 108%;
  }
}

.book-image {
  float: left;
  width: 25%;
  display: inline-block;
  margin-right: 1.5rem;
  margin-top: .5rem;
}  

.book-review {
  display: inline-block;
  vertical-align: top;
  margin-top: -1rem;
  max-width: 68%;

  .book-title {
    @include bp-medium { width: 120%; } 
    font-size: 1.5rem; 
    @include bp-medium { font-size: 2rem; }
    span {
      display: inline-block;
      font-size: 1.25rem;
      @include bp-medium { font-size: 1.5rem; }
    } 
    margin-bottom: 1rem;
  }

  .book-details {
    clear: both;
    color: $gray-4;
    margin-bottom: 0;
  }
}

.without-image {
  max-width: 100%;
}

.book-link {
  float: right;
  font-size: .9rem;
}


.directive {
  font-size: 1.25rem;
  font-weight: 400;
  color: $gray-5;
  display: inline-block;
  &:before {
    display: inline-block;
    vertical-align: middle;
    margin-left: -.25rem;
    margin-right: -.125rem;
    font-size: .75rem;
    content: "☆";
  }
}

.my-notes {
  clear: both;
  padding-bottom: .5rem;
}

.stud {
  font-size: 1.25rem;
  font-weight: 400;
  min-height: 2rem;
  cursor: pointer;
  padding-bottom: .25rem;
}

.hint {
  font-size: 1rem;
  font-weight: 400;
  margin-top: -.50rem;
  color: $gray-4;
  margin-left: .75rem;
}


.bit {
  margin-top: -.35rem;
  padding-left: .75rem;
}

.quote-bit {
  padding-left: 1.5rem;
}

hr {
  border: 0;
  height: 0;
}


.right-arrow {
    @include transition(all, 0.25s);
  &:before {
    font-size: .75rem;
    content: "+";
    color: $gray-3;
  }
}
.down-arrow {
  &:before {
    content: "-";
  }
}