.book-image {
  float: left;
  width: 25%;
  display: inline-block;
  margin-right: 1.5rem;
  margin-top: .5rem;
}  

.book-review {
  display: inline-block;
  vertical-align: top;
  margin-top: -1.5rem;
  max-width: 69%;

  .book-title {
    font-size: 1.75rem; 
    @include bp-medium { font-size: 2rem; }

    margin-bottom: 1rem;
    span {
      font-size: 1.25rem;
      @include bp-medium { font-size: 1.5rem; }
    } 
  }

  .book-details {
    clear: both;
    color: $gray-4;
    margin-bottom: 0;
  }
}

.without-image {
  max-width: 100%;
}

.book-link {
  float: right;
  font-size: .9rem;
}


.my-notes {
  clear: both;
  padding-bottom: .5rem;
  //border-bottom: 1px dashed $gray-2;
}

//studbits features

.stud {
  font-size: 1.25rem;
  font-weight: 400;
  min-height: 2rem;
  cursor: pointer;
  margin-left: .125rem;
  padding-bottom: .25rem;
}

.hint {
  font-size: 1rem;
  font-weight: 400;
  margin-top: -.50rem;
  color: $gray-3;
  margin-left: .6rem;
}


.bit {
  transition: all 0.25s;
  margin-left: .5rem;
  margin-top: -.35rem;
}


hr {
  border: 0;
  height: 0;
}


.right-arrow {
  &:before {
    vertical-align: middle;
    font-size: .75rem;
    content: "+";
    color: $gray-3;
  }
}
.down-arrow {
  &:before {
    content: "-";
  }
}