// site variables 
//

// colors 
$white:     #fff;
$gray-1:    #f9f9f9;
$gray-2:    #ccc;
$gray-3:    #767676;
$gray-4:    #515151;
$gray-5:    #313131;

$red:       #ac4142;
$orange:    #d28445;
$yellow:    #f4bf75;
$green:     #90a959;
$cyan:      #75b5aa;   
$blue:      #268bd2;
$brown:     #8f5536;

$blue-1: #e6f2ff;
$blue-2: #cce6ff;

// fonts 
$root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$body-color: #515151;

$code-font-family: Menlo, Monaco, "Courier New", monospace;
$code-color: #bf616a;

$root-font-size: 16px;
$root-line-height: 1.5;



// theme styles 
$body-bg: $white;
$border-color: $blue;
$link-color: $blue;
$fill-color: $blue;


// layout
$content-width: 38rem; 
$spacing-unit: 3rem;
$media-width: $content-width + ($spacing-unit * 2); // anything on site larger than content 


// breakpoints 
$bp-small: 30rem;
$bp-medium: 38rem;
$bp-large: 54rem;





