

html {
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
	max-width: -webkit-calc(#{$screen-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$screen-width} - (#{$spacing-unit} * 2));
  margin: 25px auto;
  padding: 0 $spacing-unit;
}

.intro {
	@include outer-container;
  @include box-shadow(#fff, $baby-blue);

  .intro-left {
    @include span-columns(12);

  .personal-bar { 
    @include span-columns(6 of 12);
    position: relative;
    top: 6em;
    left: .75em;
    text-align: center;

    .name {
      font-family: $oxygen;
      font-size: 2.125em;
      letter-spacing: -.075em;
      margin-bottom: -.25em;
    }
    .mini-bio { font-size: .8em;}
  }

  .avatar {
    width: 130px;
    max-width: 100%;
    @include border-radius(100px);
    @include box-shadow(#fff, #c7c7c7);
    display: block;
    float: right;
    margin: 1em auto 1em auto;
    position: relative;
    right: 1.25em;
  }

  .social-bar {
    position: relative;
    bottom: .7em;

    .icon-links {
      margin: 0 auto;
      border-top: 2px solid #c7c7c7;
      opacity: 0.5;
      padding: .4em;
      margin: 0 1.25em 0 1.25em;
      list-style: none;

       .icon-link-item {
        display: inline-block;
        margin-left: 5px;
      }

      .icon-link { 
        &:hover .icon path {
          fill: $baby-blue;
          @include transition(all .2s ease);
        }
      }
    }
  }
}


	.intro-right {
		@include span-columns(11);
    @include box-shadow(#fff, #c7c7c7);
    padding: 1.25em;
    margin-bottom: 2em;
    position: relative;
    top: 1em;
    right: 1em;

    .startup-logo {
      width: 40px;
      position: relative;
      bottom: .25em;
      left: .25em;
      opacity: .25;
      animation: shake 3s infinite;
      animation-direction: alternate;
      @keyframes shake {
        0% {
          transform: skewY(20deg);
        }
        100% {
          transform: skewY(-20deg);
        }
      }
    }
	}

  @include media_mobile {
    .intro-right { @include shift(1); }
    .avatar { right: 1.75em !important;}
  }

  @include media_larger_than_mobile {
      .avatar { width: 175px !important; }
      .name { font-size: 2.5em !important; }
      .mini-bio { font-size: 1em !important; }
    }

  @include media_mobile_to_half {
    .intro-left {  
      @include shift(.5); 
      @include span-columns(10); 
    }
    .intro-right { 
      @include shift(1); 
      @include span-columns(10); 
    }
  }

  @include media_mobile_to_full {
    .intro-left {  @include span-columns(6); }
    .intro-right { @include span-columns(6); }
   }

   @include media_mobile_smaller {
      .avatar { width: 80px !important; }
      .name { font-size: 1.75em !important; }
      .mini-bio { font-size: .75em !important; }
   }

}

.resume {
  @include box-shadow(#fff, $baby-blue);
  margin: 1.5em auto;
  padding: 1em;
  display: inline-block;


    h2 {
      font-size: 2em;
    }

  .section-intro {
    @include span-columns(12); 

    @include media_larger_than_mobile {
      @include shift(.25);
      @include span-columns(3.5);
    }

    
    h4 {
      font-size: 1.1em;
    }
  }

  .section-description {
    @include span-columns(10);
    
    @include media_mobile {
      @include shift(1);
    }  

    @include media_larger_than_mobile {
      @include span-columns(-.5);
      @include span-columns(7);
    }

    h3 {
      font-size: 1.25em;
      margin-bottom: .125em;
    }

    .resume-image  {
      float: right;
      position: relative;
      width: 75px; 
      left: calc(3vw + 3%);

     }
    .resume-image-med {
      @extend .resume-image;
      width: 140px;
    }
  }
}

@include media_larger_than_mobile { 
  .contact-button {
      position:fixed; top:6%; right:2.5%;
      @include border-radius(3px);
      @include box-shadow(#fff, $baby-blue);
      font-family: $oxygen;
      color: #333;
      font-weight: 500;
      font-size: 1.375rem;
      line-height: 55px;
      text-decoration: none;
      text-align: center;
      display: block;
      width: 140px;
      @include transition(all .2s ease);

      &:hover {
        background-color: $baby-blue;
      }

    }
}
