

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.resume-container { 
  background-color: #f2f2f2;
  padding-top: 10px; margin-top: -10px;
  padding-bottom: 10px; margin-bottom: -10px;
   }

.resume-wrapper {
	max-width: -webkit-calc(#{$screen-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$screen-width} - (#{$spacing-unit} * 2));
  margin: 25px auto;
  padding: 0 $spacing-unit;
}

.intro {
	@include outer-container;
  @include box-shadow(#fff, $baby-blue);
  @include border-radius(5px);
    background-color: white;

  .intro-left {
    @include span-columns(12);

  .personal-bar { 
    @include span-columns(6 of 12);
    position: relative;
    top: 6em;
    left: .75em;
    text-align: center;
    @include media_mobile_only {top: 5em; }

    .name {
      font-family: $oxygen;
      @include media_mobile_only { font-size: 1.5em; }
      font-size: 2.15em;
      letter-spacing: -.075em;
      margin-bottom: -.25em;
    }
    .mini-bio { 
      @include media_mobile_only { font-size: .5em; }
      font-size: .8em;
    }
  }

  .avatar {
    @include media_mobile_only { width: 85px; }
    width: 125px;
    max-width: 100%;
    @include border-radius(100px);
    @include box-shadow(#fff, #c7c7c7);
    display: block;
    float: right;
    margin: 1em auto 1em auto;
    position: relative;
    @include media_mobile_only { right: 2em; }
    right: 1.25em;
  }

  .social-bar {
    position: relative;
    bottom: .7em;

    .icon-links {
      margin: 0 auto;
      border-top: 2px solid #c7c7c7;
      opacity: 0.5;
      padding: .4em;
      margin: 0 1.25em 0 1.25em;
      list-style: none;

       .icon-link-item {
        display: inline-block;
        margin-left: 5px;
        @include media_mobile_only { width: 1.125em; margin-left: 1px; }
      }

      .icon-link { 
        &:hover .icon path {
          fill: $baby-blue;
          @include transition(all .2s ease);
        }
      }
    }
  }
}

	.intro-right {
		@include span-columns(11);
    @include box-shadow(#fff, $baby-blue);
    @include border-radius(3px);
    padding: 1.25em;
    margin-bottom: 2em;
    position: relative;
    top: 1em;
    right: 1em;

    .startup-logo {
      width: 40px;
      position: relative;
      bottom: .25em;
      left: .25em;
      opacity: .25;
      animation: shake 3s infinite;
      animation-direction: alternate;
      @keyframes shake {
        0% {
          transform: skewY(20deg);
        }
        100% {
          transform: skewY(-20deg);
        }
      }
    }
    @include media_mobile_only { .greeting { font-size: 1.25em; } }
	}

  @include media_mobile {
    .intro-right { @include shift(1); }
  }

  @include media_larger_than_mobile {
      .avatar { width: 175px !important; }
      .name { font-size: 2.5em !important; }
      .mini-bio { font-size: .95em !important; }
    }

  @include media_mobile_to_half {
    .intro-left {  
      @include shift(.5); 
      @include span-columns(10); 
    }
    .intro-right { 
      @include shift(1); 
      @include span-columns(10); 
    }
  }

  @include media_mobile_to_full {
    .intro-left {  @include span-columns(6); }
    .intro-right { @include span-columns(6); }
   }
}

.resume {
  background-color: white;
  @include box-shadow(#fff, $baby-blue);
  @include border-radius(5px);
  margin: 1.5em auto 0 auto;
  padding: 1em;
  display: inline-block;


    h2 { font-size: 2em; }

  .section-intro {
    @include span-columns(12); 

    @include media_larger_than_mobile {
      @include shift(.25);
      @include span-columns(3.5);
    }


    h4 { font-size: 1.1em; }

  }

  .section-description {
    @include span-columns(10);
    
    @include media_mobile {
      @include shift(1);
    }  

    @include media_larger_than_mobile {
      @include span-columns(-.5);
      @include span-columns(7);
    }

    h3 {
      font-size: 1.25em;
      margin-bottom: .25em;
    }

    br {
      margin-bottom: 1em;
    }

    .resume-image  {
      float: right;
      position: relative;
      width: 75px; 
      left: calc(3vw + 3%);

     }
    .resume-image-med {
      @extend .resume-image;
      width: 140px;
    }
  }

  .trial-run { 
    text-align: center; 
    h1 { font-weight: 500; }
    @include media_mobile { h1 { font-size: 1.3em;} }
  }

  .contact-button-footer {
    margin: 0 auto;
    @include border-radius(3px);
    @include box-shadow(#fff, $baby-blue);
    font-family: $oxygen;
    color: #333;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 45px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 140px;
    @include transition(all .2s ease);

    &:hover {
      background-color: $baby-blue;
    }
  }
}

@include media_larger_than_mobile { 
  .contact-button { 
    margin: 0 auto;
    @include border-radius(3px);
    @include box-shadow(#fff, $baby-blue);
    font-family: $oxygen;
    color: #333;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 45px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 140px;
    @include transition(all .2s ease);

    &:hover {
      background-color: $baby-blue;
    }
  }
}

@include media_mobile { .contact-button { display: none; }
}



