

.wrapper {
	max-width: -webkit-calc(#{$screen-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$screen-width} - (#{$spacing-unit} * 2));
    margin: 20px auto;
    padding: 0 $spacing-unit;
}

.intro {
	@include outer-container;

	.intro-left {
	 	@include span-columns(6);
	}

	.intro-right {
		@include span-columns(6);
	}

  .avatar {
    width: 175px;
    max-width: 100%;
  	@include border-radius(100px);
  	@include box-shadow(#fff);
    display: block;
    margin: 0 auto;
  }

}


