
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header class="intro" id="about"> 

       <div class="personal-info">
          <div class="info-bar">
              <h1 class="name">{{ site.author.name }}</h1>
              <h4 class="mini-bio"> {{ site.author.mini-bio }}</h4>
              <div class="social-bar">  
                {% include social-links.html %} 
              </div>
          </div>   
          <img src="/img/profile-pic.jpg" alt="my photo" class="avatar">
        </div>
      </header>






  </body>

</html>