<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">


  <div class="resume-wrapper">
      <header class="page-header">

        <img src="/img/alid-castano-2016.jpg" alt="my photo" class="avatar">
        <h1 class="header-name">Alid Castano</h1>
        <h2 class="header-description"> Hacker & Hustler </h2>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title">{{ site.resume_title }}</h2>

          {% include icon-links.html %}
        </div>

        <div class="executive-summary">
          <p> I am interested in <strong>Startups &amp; Personal Development</strong>. I am seeking to join a team of talented and passionate individuals with the mission of helping improve education, producitivty, or fitness.

          I like to think of myself as a mix between Tony Robbins, Paul Graham, and Arnold Schwarzengger. </p>
        </div>
      </header>
  </div>
  <div class="wrapper-color">
  <div class="resume-large-wrapper">
       {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
          <!-- 
          <div class="section-right">
            <p> We are what we pretend to be, 
            so we must becareful about what we pretend to be 
            &#126 Kurt Vonnegut</p>
          </div>
          -->
        </header>

        <div class="resume-skills-item">
          <h4 class="resume-item-title">Writer</h4>
          <p class="resume-item-copy">I enjoy blogging.
          <br>
          Popular Post: <a href="http://alidcastano.com/your-fault/"> Is it their fault, or yours? </a>
          </p>
         
        </div>

         <div class="resume-skills-item">
          <h4 class="resume-item-title">Speaker</h4>
          <p class="resume-item-copy">I enjoy public speaking. This is the work tha tI have done</p>
        </div>

         <div class="resume-skills-item">
          <h4 class="resume-item-title">Developer</h4>
          <p class="resume-item-copy">I enjoy coding. This is the work that I have done</p>
        </div>

      </section>
      <!-- end Skills -->
  </div>
  </div>

  <div class="resume-wrapper">

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item">
          <h3 class="resume-item-title">Communication Within the Curriculum (CWIC) </h3>
          <h4 class="resume-item-details">Public Speaking Advisor &bull; Jan, 2015 &mdash; Present</h4>
          <p class="resume-item-copy">Write about your core competencies in one or two sentences describing your position. If you held the position for a long time, it could be a longer section, including a couple bullet points:</p>
          <ul class="resume-item-list">
            <li>Ate lots of donuts</li>
            <li>Fell asleep rarely</li>
            <li>Left promptly at end of day (sometimes earlier)</li>
          </ul>
          <p class="resume-item-copy">If you're going to copy paste markup, or edit it, just be sure to keep the appropriate classnames on your new elements for styling purposes.</p>

        </div><!-- end of resume-item -->


      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield College</h3>
          <h4 class="resume-item-details">Associates Degree, Business Management &bull; 1984 &mdash; 1986</h4>
          <p class="resume-item-copy">If you had any meaningful roles at college, feel free to write about them here.</p>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Current Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://donutlocator.io">alidcastano.com</a></h3>
          <h4 class="resume-item-details">Blogger & Developer &bull; 2012 &mdash; Present</h4>
          <p class="resume-item-copy">Donut Locator is an open source node/ember app that lets users find donuts within a defined radius from their home.</p>
        </div>


      </section>
      <!-- end Projects -->
      {% endif %}

     
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Power Plant</h3>
          <h4 class="resume-item-details">Outstanding Achievement &bull; 2010</h4>
          <p class="resume-item-copy">Awarded for stopping a nuclear meltdown, even though I also started it.</p>
        </div>


      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Failures & Lessons</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>


      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line"> Thanks for visiting.</p>
      </footer>

    </div>

  </body>

</html>