
<!DOCTYPE html>
<html>
	
	{% include head.html %}
	<body>

		<div class="container">
		 	
		 	<header class="intro">
		 		<div class="intro-right">
			        <img src="/img/alid-castano-2016.jpg" alt="my photo" class="avatar">
		        </div>

		        <div class"intro-right">
			        <h1 class="intro-title">Alid Castano</h1>
			        <h2 class="intro-slogan"> Hacker & Hustler </h2>
			        <div class="title-bar">
			          <h2 class="header-title"> Writer, Speaker, Developer 
			          </h2>
			          {% include icon-links.html %}
			        </div>
			    </div>

			   <!--
		        <div class="intro-summary">
		          <p> I am interested in <strong>Startups &amp; Personal Development</strong>. I am seeking to join a team of talented and passionate individuals with the mission of helping improve education, producitivty, or fitness.

		          I like to think of myself as a mix between Tony Robbins, Paul Graham, and Arnold Schwarzengger. </p>
		        </div>
		        -->
		    </header>

		    <section class="large-width">
		    </section>


<!-- 

			<section class="content-section">

	        <header class="section-header">
	          <h2>Skills</h2>
	        </header>

	        <div class="resume-skills-item">
	          <h4 class="item-title">Writer</h4>
	          <p class="resume-item-copy">I enjoy blogging.
	          <br>
	          Popular Post: <a href="http://alidcastano.com/your-fault/"> Is it their fault, or yours? </a>
	          </p>
	         
	        </div>

	         <div class="resume-skills-item">
	          <h4 class="item-title">Speaker</h4>
	          <p class="resume-item-copy">I enjoy public speaking. This is the work tha tI have done</p>
	        </div>

	         <div class="resume-skills-item">
	          <h4 class="item-title">Developer</h4>
	          <p class="resume-item-copy">I enjoy coding. This is the work that I have done</p>
	        </div>

	      </section>

-->

			<footer>
			</footer>
		</div>
	</body>

</html>