---
layout: default
---

<article class="page">
  <img class="book-image" 
      src="/img/books/{{ page.image }}" alt="{{ page.title }}">
  
  <div class="book-review"> 
    <h1 class="book-title">{{ page.title }} 
        <span> - by {{ page.author }}</span> </h1>
    
    <time class="book-details" 
      datetime="{{ page.date | date_to_xmlschema }}">
      {% if page.rating %}
      read: {{ page.date | date: '%B %Y' }}
      {% else %}
      discovered: {{ page.date | date: '%B %Y' }}
      {% endif %}</time>

    {% if page.rating %}
    <p class="book-details"> rating: {{ page.rating }}/10</p>
    {% endif %}
  </div>

   <p class="book-thoughts"> <br> {{ page.thoughts }}</p> 

   <a class="book-link"
      href="{{page.link}}"> more details and reviews </a>


  <h2 class="my-notes"> my notes </h2>
  {{ content }}

</article>
